<div class="grid grid-flow-col">
    <div>
        <input id="active-reprocess-checkbox" type="checkbox" />
        <label for="active-reprocess-checkbox">Reprocess</label>
        <div class="flex flex-col m-2">
            <input placeholder="Select env" />
            <input placeholder="Select session" />
        </div>

    </div>
    <div class="flex flex-col">
        <div>
            <input id="active-Webhook-checkbox" type="checkbox">
            <label for="active-Webhook-checkbox">Activate Webhook on done</label>
        </div>
        <input placeholder="webhhok">

    </div>
</div>