<div class="flex flex-col gap-1 mb-2">
  <input
    placeholder="TaskName "
    class="text-2xl opacity-95 outline-none max-w-xs"
  />
  <input placeholder="description" class="opacity-95 outline-none" />
</div>
<nav>
  <ul class="grid grid-flow-col justify-start text-sm items-center">
    <li
      routerLinkActive="active"
      routerLink="process"
      skipLocationChange="true"
      class="flex justify-center items-center"
    >
      <a><span>1</span> Process </a>
    </li>
    <li
      routerLinkActive="active"
      skipLocationChange="true"
      routerLink="output"
      class="flex"
    >
      <a><span>2</span> Output </a>
    </li>
    <li
      routerLinkActive="active"
      routerLink="distribution"
      skipLocationChange="true"
      routerLinkActive="active"
    >
      <a><span>3</span> distribution</a>
    </li>
    <li
      routerLinkActive="active"
      routerLink="scheduling"
      skipLocationChange="true"
      routerLinkActive="active"
    >
      <a><span>4</span>Scheduling</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
