<div class="flex flex-col">
  <input placeholder="TaskName" />
  <input placeholder="description" />
</div>
<nav>
  <ul class="flex">
    <li routerLinkActive="active">
      <a routerLink="process" skipLocationChange="true"> Process </a>
    </li>
    <li routerLinkActive="active" class="flex">
      <a skipLocationChange="true" routerLink="output"> Output </a>
    </li>
    <li routerLinkActive="active">
      <a
        routerLink="distribution"
        skipLocationChange="true"
        routerLinkActive="active"
        >distribution</a
      >
    </li>
    <li routerLinkActive="active">
      <a
        routerLink="scheduling"
        skipLocationChange="true"
        routerLinkActive="active"
        >Scheduling</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
